<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TestApp</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Ubuntu" rel="stylesheet"> 
</head>
<body>