/* Reset */
* {
  box-sizing: border-box; }

li {
  list-style-type: none; }

/* 
	
    font-family: 'Ubuntu', sans-serif;

    font-family: 'Playfair Display', serif;


 */
.App {
  text-align: center;
  font-family: 'Ubuntu', sans-serif; }

/* Typography */
p {
  font-family: 'Playfair Display', serif; }

.navbar ul {
  float: right; }

.navbar li {
  float: left;
  list-style-type: none;
  padding: .75rem; }

.navbar:after {
  content: " ";
  clear: both;
  display: table; }

/* Container */
.polls-container {
  width: 60%;
  margin: 0 auto; }

/* List items */
.voting-option {
  list-style-type: none;
  text-align: left;
  min-width: 30%; }

.polls-list-item {
  font-size: 1.25rem;
  list-style-type: none;
  text-align: left;
  background: lightgreen;
  padding: .75rem;
  margin-top: .25rem;
  margin-bottom: .25rem;
  width: 100%;
  line-height: 2.75rem; }

/* Individual Poll style */
.poll-container {
  width: 80%;
  margin: 0 auto; }

.options-box {
  width: 50%;
  float: left; }
  .options-box select {
    min-width: 60%; }

.results-container {
  width: 50%;
  float: right; }
